* {
  margin: 0;
  box-sizing:content-box;
}

body{
  font-family: 'Poppins';
}

header{
    background-image: url(Media/muro-hormigon-gris-claro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a{
  font-size: 30px;
  text-decoration: none;
  font-style: normal;
  color: black;
  transition: 0.5s all;
}

a:hover{
  font-size: 35px;
}

.espaciado{
  padding-top: 10px;
}



/*Main - Contenido*/

.seccion-titulo{  
  margin-top: 10px;
  letter-spacing: 10px;
}

h1{
  text-align: center;
  letter-spacing: 2px;
}

.titulo-contenedor{
  background-color: antiquewhite;
  padding: 5px 0 5px 10px;
}

.contenedor-datos, .contenedor-formacion, .contenedor-experiencia{
  padding: 10px 0px;
  margin: 10px 0px;
}

.contenedor-lista{
  margin: 20px 0px;
}

.enunciado-lista{
  font-weight: bolder;
}

li{
  margin: 5px 0px ;
}

.lista-formacion{
  list-style-type: circle;
}

.lista-experiencia{
  list-style-type:square;
}

.experiencia-datos{
  margin-top: 20px;
}

/*Footer*/

.footer-contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(198, 202, 210);
  box-sizing: border-box;
}

.footer-contenedor p{
  display: inline-block;
  text-align: center;
}

.redes-contenedor{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.iconos-redes{
  padding: 10px;
  box-sizing: border-box;
}

/* Sobre Mi */

.contenedor-sobremi{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.info-container{
  padding: 20px 50px;
  text-align: center;
}